html,
body {
  font-family: sans-serif;
}
#root {
  margin-top: 46px;
}
.hidden {
  display: none;
}

.sellbtn {
  cursor: pointer;
}
.sellbtn:hover {
  background-color: lightgreen;
}

nav {
  position: fixed;
  width: 100%;
  background: white;
  margin-top: -46px;
  text-align: center;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  background-color: #171717;
}

button {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: 2px solid white;
}

body {
  padding: 0px;
  margin: 0px;
}

input,
label,
select {
  display: block;
  margin: 8px auto;
}

.del:hover {
  background-color: lightcoral;
}

.tac {
  text-align: center;
}

input,
select {
  padding: 8px;
  width: 300px;
}

input[type="submit"] {
  width: 100px;
}

h1 {
  text-align: center;
}

.items {
  padding-left: 15px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.total {
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 0 5px;
}
